Spam Mail Prediction Using Support Vector Machine

In [1]:
#Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Data preprocessing

In [3]:
#load the dataset to pandas data frame
raw_mail_data = pd.read_csv('/content/drive/My Drive/spam.csv')
#replace the null value with null string 
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)), '')

In [4]:
mail_data.shape #sample data

(5171, 4)

In [5]:
mail_data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [7]:
#label spam mail as 0; non spam mail (ham) mail as 1.
mail_data.loc[mail_data['label'] == 'spam','label',]= 0
mail_data.loc[mail_data['label'] == 'ham','label',]= 1

In [10]:
#seperate the data as text and label.x---->text; y-----> label
x=mail_data['text']
y=mail_data['label']

In [11]:
print(x)
print(".............")
print(y)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object
.............
0       1
1       1
2       1
3       0
4       1
       ..
5166    1
5167    1
5168    1
5169    1
5170    0
Name: label, Length: 5171, dtype: object

Train Test Split

In [12]:
#SPLIT THE DATA AS TRAIN AND TEST DATA
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=3)

Feature Extraction

In [13]:
#transform the text data to feature vectors that can be used as input to the SVM model using TfidfVectorizer
#covert the text to lower case
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)
 
 #convert y_train and y_test values as imtegers
y_train = y_train.astype('int')
y_test = y_test.astype('int')


Training the model -----> support vector machine

In [14]:
#training the support vector machine model with training set
model=LinearSVC()
model.fit(x_train_features,y_train)

LinearSVC()

Evaluation on model

In [15]:
#prediction on data
prediction_on_training_data=model.predict(x_train_features)
accuracy_on_training_data=accuracy_score(y_train,prediction_on_training_data)

In [16]:
print('Accuracy on training data:',accuracy_on_training_data)

Accuracy on training data: 1.0

In [17]:
#prediction on test data
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data = accuracy_score(y_test,prediction_on_test_data)

In [18]:
print('Accuracy on test data:',accuracy_on_test_data)

Accuracy on test data: 0.9864734299516909

prediction on new mail

In [20]:
input_mail = ["equistar just sold some same day ( today ! ) gas to equistar @ meter 1553 . . . . whatever flows there on this gas day will be priced @ $ 4 . 40 . . . please enter into sitara thanks ! ! ! lee"]
#covert text to feature vectors
input_mail_features=feature_extraction.transform(input_mail)

#making prediction
prediction = model.predict(input_mail_features)
print(prediction)

if (prediction[0]==1):
  print("HAM MAIL")
else:
  print("SPAM MAIL")

[1]
HAM MAIL